@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

*{
    --background: #0ea5e9;
    --textcolor: rgb(56, 56, 56);
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}

.container{
    display:grid;
    grid-template-columns: 250px 5fr;
    grid-template-rows: 0.5fr 5fr;
}

.navbar{
    grid-column: 1/2;
    display:grid;
    grid-row: 1/3;
    grid-template-rows:repeat(3, min-content);
    row-gap:35px;
    padding:5px;
    padding-top:25px;
    box-shadow: -2px 0px 10px black;
    border-radius: 5px;;
    background-color: var(--background);
    color:White;
    transition:1s ease-in-out;
    position: relative;
}

.message{
    position:sticky;
    top:25px;
}

.top{
    position:sticky;
    top:95px;
}

.bottom{
    position:sticky;
    top:395px;
}




.selection{
    padding-left:20px;
    display:grid;
    grid-auto-flow:column; 
    align-items: center;
    grid-template-rows:35px;
    grid-template-columns: 35px;
    font-size:1.2rem;
    transition:0.2s ease-in-out;
    user-select: none;
    
}

.top h4, .bottom h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.dash{
    margin-left:-10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.hov{
    cursor: pointer;
}
.hov:hover{
    color:rgba(0, 0, 0, 0.479);
    background-color:#0d91ce25;
}

.top, .bottom{
    display:grid;
    gap:10px;
}

.message .selection
{
    padding-left:15px;
    display:grid;
    grid-auto-flow:column; 
    align-items: center;
    grid-template-rows:35px;
    grid-template-columns: 55px;
    font-size:2.1rem;
}

.header{
    grid-column:2/3;
    grid-row: 1/1;
    padding:30px;
    padding-left:40px;
    padding-right:40px;
    display:flex;
    align-items: flex-start;

}

input{
    outline:none;
    border:none;
    padding-left:15px;
    padding-right:15px;
    min-height:1.5rem;
    flex-grow: 0.5;
    background-color: rgba(76, 91, 158, 0.15);
    border-radius: 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.158);
    transition: 0.2s ease-in-out;
}

.search{
    display:flex;
    align-content: center;
    gap:10px;
    justify-content: flex-start;

    flex-grow:1;
    flex-shrink: 1;
    
}

input:hover{
    box-shadow: 0px 0px 3px var(--background);
}

.userphoto{
    width:28px;
    height:28px;
    border-radius: 25px;
    transition:0.1s ease-in-out;
    
}

.userinfo{
    display:flex;
    align-items:center;
    height:30px;
    gap:1rem;
    user-select: none;
    margin-left:auto;
    margin-right:12px;
}

.userphoto:hover{
    box-shadow: 0px 0px 3px var(--background);
    cursor:pointer;
}

.user{
    transition:0.2s ease-in-out;
    cursor:pointer;
}

.name{
    transition:0.2s ease-in-out;
    cursor:pointer;
}

.user:hover{
    color:var(--background);
}

.name:hover{
    text-shadow: 0px 0px 1px var(--background);
}

.secondheader{
    grid-column-start: 2;
    grid-row-start: 1;

    display:flex;
    padding-left:40px;
    padding-right:40px;
}

.anotherphoto{
    width:60px;
    height:60px;
    border-radius: 25px;
    transition:0.2s ease-in-out;
}

.text{
    padding:0px;
    padding-left:10px;
    margin:0px;
    margin-top:-14px;   
    display:flex;
    flex-direction: column;
    

}

.text h4{
    font-size:1.5rem;
    margin-top:-24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.text h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cover{
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0 8px 3px -2px rgba(0, 0, 0, 0.185);
    border-bottom-left-radius: 25px;;
    grid-row-start: 1;
    background-color: white;

}

.wrap{
    display:flex;
    margin-top:10px;
    font-size:1.1rem;
    gap:2rem;
    margin-left:auto;

}

.but{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width:100px;
    height:50px;
   
    border-radius: 25px;
    color:white;
    user-select: none;
    cursor: pointer;
    transition:0.3s ease-in-out;
}

.but:hover{
    color:rgba(0, 0, 0, 0.479);
    background-color:#0d91ce25;
    
}

.color{
    grid-row:1/-1;
    grid-column: 1/-1;
    z-index: -1;
    background-color: #0ea4e918;
}

.body{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top:-10px;

    display:grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 0.05fr 1fr 1fr 1fr;
    gap:25px;
    
    
    padding:20px;

    background-color: transparent;

    padding-bottom:5rem;

}

.body h4:nth-child(1){

    grid-column-start: 1;
    grid-row: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1.2rem;
    margin-bottom:-5px;
    padding-left:5px;
    
}

.body h4:nth-child(2){

    grid-column-start: 2;
    grid-row: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1.2rem;
    margin-bottom:-15px;
    padding-left:5px;
    
}

.squares{
    grid-column: 1/2;
    grid-row:2/5;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:25px;

}

.square{

    background-color: white;
    grid-auto-flow: column;
    border-radius: 8px;
    border-left: 7px solid rgb(255, 189, 67);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
    padding:25px;

}

.colhover{
    transition:0.2s ease-in-out;
    cursor:pointer;

}

.colhover:hover{
    color:var(--background)
}

.announced{
    display:none;
}


.announce{
    grid-row-start: 2;
    grid-row-end: -1;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: 1fr 0.1fr 1fr;
    gap:25px;
    
}

.trend{
    grid-row-start: 2;
    grid-column: 1/1;
}

.announced{
    grid-row-start: 1;
   
}

.announcesquare{
    background-color: white;
    border-radius: 8px;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:10px;
    border:3px solid var(--background);
    
}

.announcement{
    border-bottom:1px solid rgba(56, 56, 56, 0.315);

    padding:10px;
    transition:0.2s ease-in-out;
    cursor:pointer;
    text-overflow: ellipsis;
    

}

.announcement:hover{
    color:var(--background)
    
}

.announcesquare .announcement:last-child{

    border:none;

}

.announcement h5{
    font-weight: 500;
    font-size:0.9rem;
    padding:0;
    margin:0;
}

.announcement p{
    font-weight:300;
    margin-top:5px;
    font-size:0.8rem;
    display:inline-block;
    width:100%;
    text-overflow: ellipsis;
}

.square h4, .square p{
    padding:0;
    margin:0;
    font-size:1rem;
}

.square p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left:5px;
    margin-top:10px;
}

.reactions{

    display:flex;
    justify-content: flex-end;
    gap:15px;
    margin-top:80px;
}



.react{
    transition:0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.react:hover{
    color:var(--background);
}



p{
    color:var(--textcolor);
}

.people{
    display:flex;
    flex-direction:column;
    padding:10px;
    height:100%;
    justify-content: space-around;
    

}

.person{
    display:flex;
    align-items: center;
    align-content: center;
    transition:0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    width:100%;
}

.thename{
    display:flex;
    flex-direction: column;
    padding-left:5px;
    margin-top:-10px;
}

.thename h4:nth-child(1){
    font-family: 'Roboto', sans-serif;
    padding:0;
    font-size:1rem;
    font-weight:400;
}

.thename h5{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    margin-top:5px;
    font-size:1rem;
    font-weight:300;
    color:var(--textcolor);
}

.people img{
    width:65px;
    height:65px;    
}

.person:hover{
    background-color:var(--background);
    color:white;
    
}


.person img{
    transition:0.2s ease-in-out;
    border-radius: 50%;
}

.person:hover img{
    box-shadow: 0px 0px 3px var(--background);

}


@media screen and (max-width: 1100px) {


    .selection h4{
        display: none;
    }

    .container{
        grid-template-columns: 60px 5fr;
    }

    .message{
        margin-left:-12px;
        margin-top:15px;
        margin-bottom:-20px;
    }

    
    .navbar, .selection{
        padding:0;

    }

    .navbar{
        justify-items: center;
        padding-left:5px;
    }



    .body h4:nth-child(2){
        display:none;
    }

    .announced{
        display:contents;
        grid-row-start: 1;
    }

    .trend{
        grid-row-start: 3;
    }

    .body{
        grid-template-columns: 1fr
    }

    .announce{
        grid-column: 1;
        grid-row: -1;
        grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    }

    .squares{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


}

    @media screen and (max-width: 700px) {


    
        .body h4:nth-of-type(2){
            display:none;
        }
    
        .body{
            grid-template-columns: 1fr
        }

        .secondheader .text, .secondheader img{
            display:none;
        }



        .wrap{
            padding-bottom:15px;
            justify-content: center;
            width:100%;
        }

        .user svg{
            padding-left:15px;
        }

        .header{
            padding-right:5px;
        }
    }

    @media screen and (max-width: 625px) {





        input{
            width:50px;
        }




        

    }

    @media screen and (max-width: 600px) {
    .body{
        grid-template-columns: 1fr;
    }

    .squares{
        grid-template-columns: 1fr;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 5fr;
    }

    .color{
        grid-row:1/-1;
        grid-column: 2/-1;
        z-index: -1;
        background-color: #0ea4e918;

    }

        
    .wrap{
        margin-left:none;
        flex-wrap:wrap;

    }

    }

    @media screen and (max-width: 500px) {



        .search svg{
            cursor:pointer;
        }

        .search{
            flex-grow: 0;
        }

        input{
            flex-grow:0;
            padding:0;
        }

        .container{
            grid-template-rows: 0.25fr 5fr;
        }
        
        .wrap{
            
            gap:10px;
            padding-left:10px;
            padding-right:10px;
        }

        .secondheader{
            padding:0;

        }

        .userinfo{
            margin-top:-5px;
            margin-left:auto;
        }



        



        .header{
            justify-content: center;
        }

    }

    @media screen and (max-width: 455px) {
        .search{
            display:none;
        }

        .header{
            justify-content: center;
        }

        .userinfo{
            width:fit-content;
            margin:0;
            margin-left:-30px;
            padding:0;
        }
    }


    @media screen and (max-width: 355px) {
        .userinfo svg:nth-child(1){
            display:none;
        }
    }